@font-face {
    font-family: Emulogic;
    src: url(../font/Emulogic.ttf);
}

body {
    margin: 2rem;
    background-color: #000;
}

h1 {
    color: #14F729;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-family: inherit;
}

#gameCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    border: #14F729 solid 5px;
    box-shadow: 5px 10px 18px #14F729;
    margin: auto;
    object-fit: contain;
}

#message {
    display: block;
    margin: 50px auto 0 auto;
    color: #14F729;
    font-size: 20px;
    text-align: center;
    font-family: inherit;
}

button {
    display: block;
    background-color: #14F729;
    border: solid 10px #14F729;
    border-radius: 40px;
    color: #000;
    font-size: 25px;
    padding: 15px 32px;
    text-align: center;
    margin: 50px auto 20px auto;
    box-shadow: 5px 10px 18px #14F729;
    font-family: inherit;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}