body{
    margin: 0px;
    background-color: black;
    color: #14F729;
}
a{
    color: #14F729;
}
.connectfour{
    border: 2px solid #14F729;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    width: 700px;
    padding: 5px;
}
.announcement{
    font-size: 16px;
    text-align: center;
    margin: 20px;
}
.connectfour div{
    border: 2px solid #14F729;
    border-radius: 100%;
    margin: 5px;
}
.container{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 700px;
}
.arrows{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    margin-left: 8px;
}
.arrows button{
    background-color: inherit;
    border: none;
    color: #14F729;
    font-size: 40px;
    margin: 25px;
}
#reset, #playAgain{
    font-size: 20px;
    background-color: inherit;
    color: #14F729;
    border: none;
    font-family: inherit;
}
#reset{
    text-align: left;
    margin-top: -60px;
}
#playAgain{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.container button:hover{
    cursor: pointer;
}
.info{
    display: grid;
    grid-template-columns: 200px 300px 200px;
}
.info div{
    margin-top: 20px;
    font-size: 20px;
}
.info div:last-child{
    text-align: right;
}
