body {
    background-color: black;
    color: #FE0000;
    font-family: Emulogic, cursive;
    text-align: center;
    margin: 0;
}

#home {
    text-decoration: none;
    color: #14F729;
    display: block;
    line-height: 2;
    text-align: left;
    font-family: Emulogic, cursive;
    background-color: black;
    border-style: none;
    font-size: 100%;
}

#home:hover {
    cursor: pointer;
}

#gameName {
    font-size: 2.5rem;
    padding: 1rem 0;
}

#levels {
    width: 300px;
    margin: 0 auto;
}

.level {
    font-family: Emulogic, cursive;
    font-size: 0.6rem;
    width: 7rem;
    margin: 0.4rem 0.2rem;
    border-radius: 5px;
    border-style: none;
    background-color: #14F729;
}

.level:hover {
    cursor: pointer;
    background-color: white;
}

#containerGraph {
    display: inline-flex;
    margin: 0 auto;
}

#graphic {
    width: 250px;
    margin-left: -50px;
}

#score {
    flex-direction: column;
    margin-top: 50px;
    margin-left: -50px;
    font-size: 0.6rem;
}

#soulsSaved, #soulsLost {
    line-height: 1.5;
    margin: 10px;
}

#reset {
    font-family: Emulogic, cursive;
    font-size: 0.6rem;
    width: 120px;
    border-radius: 5px;
    border-style: none;
    background-color: #14F729;
}

#reset:hover {
    cursor: pointer;
    background-color: white;
}

#hint {
    width: 200px;
    height: 40px;
    padding: 10px 0;
    display: table-cell;
    vertical-align: bottom;
    visibility: hidden;
}

#hintButton {
    font-family: Emulogic, cursive;
    font-size: 0.6rem;
    width: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: #14F729;
}

#hintButton:hover {
    cursor: pointer;
    background-color: white;
}

.tooltip:before {
    content: attr(data-text);
    position:absolute;
    top:47%;
    transform:translateY(-50%);
    left:62%;
    margin-left:15px;
    width:200px;
    padding:10px;
    border-radius:10px;
    background: white;
    color: black;
    text-align:center;
    display:none;
}

.tooltip:hover:before {
    display:block;
}

#guessedWord {
    font-size: 1.2rem;
    padding: 0 15px 2rem 15px;
    letter-spacing: 0.5rem;
}

#wordWas {
    margin-bottom: 1rem;
    font-size: 0.6rem;
}

#letterButtons {
    max-width: 450px;
    margin: 0 auto;
}

.buttons {
    font-family: Emulogic, cursive;
    font-size: 1rem;
    width: 2.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    border-style: none;
    background-color: #14F729;
}

.buttons:hover {
    cursor: pointer;
    background-color: white;
}

.buttons:focus {
    background-color: white;
}


#gameResult {
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

#playAgainButton {
    font-size: 1rem;
    font-family: Emulogic, cursive;
    padding: 3px 10px;
    margin: 20px;
    border-style: none;
    border-radius: 5px;
    visibility: hidden;
    background-color: #14F729;
}

#playAgainButton:hover {
    cursor: pointer;
    background-color: white;
}

@media only screen and (min-width: 768px) {
    #levels {
        width: 750px;
        margin-top: 20px;
    }
    .level {
        font-size: 1rem;
        width: 10rem;
        z-index: 1;
    }
    #graphic {
        width: 550px;
        margin-left: -200px;
        margin-top: -70px;
        z-index: -1;
    }
    #score {
        font-size: 1rem;
        margin: 80px -60px 0 0;
    }
    #reset {
        font-size: 0.8rem;
        width: 160px;
    }
    #hint {
        font-size: 0.8rem;
        max-width: 300px;
        height: 120px;
        margin-top: 20px;
    }
    #guessedWord {
        font-size: 2rem;
        margin-top: -70px;
    }
    #wordWas {
        font-size: 1.5rem;
    }
    #letterButtons {
        max-width: 750px;
    }
    .buttons {
        font-size: 1.5rem;
        width: 50px;
    }
}
