body {
    background-color: black;
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;

}

#gameName {
    font-size: 3rem;
    padding: 1rem 0;

}

#game {
    /*display: grid;*/
    /*grid-template-columns: 500px 300px 300px 300px;*/
}

.level {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    width: 8rem;
    margin: 1.5rem 0.2rem 0;
    border-radius: 5px;
    border-style: none;
}

.level:hover {
    cursor: pointer;
}

#graphic {
    width: 250px;
}

#guessedWord {
    font-size: 1.2rem;
    padding: 1rem 0 3rem 0;
    letter-spacing: 0.5rem;
}

.buttons {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    width: 3rem;
    margin: 0.2rem;
    border-radius: 5px;
    border-style: none;
}

.buttons:hover {
    cursor: pointer;
}

#lives {
    font-size: 1.5rem;
    padding: 1rem;
}

#gameResult {
    font-size: 3rem;
    padding-bottom: 30px;
}

#playAgainButton {
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
    padding: 3px 10px;
    margin: 20px;
    border-style: none;
    border-radius: 5px;
    visibility: hidden;
}

#playAgainButton:hover {
    cursor: pointer;
}

#livesLost, #livesSaved {
    line-height: 1.5;
    margin: 10px;
}

#reset {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
}

#reset:hover {
    cursor: pointer;
}

