body {
   margin: 0px;
   padding: 0px;
   display: flex;
   flex-direction: column; /* to stack em on top of each other */
   justify-content: center;
   align-items: center;
   font-family: Emulogic, cursive !important;
   background-color: black;

}

canvas {
   border: rgb(20, 247, 41) 1px solid;
}

h1 {
   font-size: 35px;
   font-weight: 700;
   padding: 2rem;
   color: #14F729;
}
