body{
	margin: 0px;
	color: #14F729;
	background-color: black;
}

a{
	text-decoration: none;
	color: #14F729;
}

h1{
	font-size: 30px;
	margin: 15px;
	text-align: center;
	margin-bottom: 60px;
}

.container {
	display: block;
	margin: auto;
	width: 450px;
	margin-top: 50px;
}

.battlefield {
	width: 450px;
	height: 450px;
	border: solid #14F729 1px;
	display: flex;
	flex-wrap: wrap;
}

.battlefield div {
	width: 30px;
	height: 30px;
}

.info {
	display: grid;
	grid-template-columns: 225px 225px;
	margin-bottom: 10px;
}

.info .level {
	text-align: right;
}

button {
	display: block;
	margin: auto;
	text-align: center;
	font-family: inherit;
	margin-top: 15px;
	font-size: 26px;
	border: 2px solid #14F729;
	background-color: inherit;
	border-radius: 0%;
	color: inherit;
	padding: 10px;
}

button:hover {
	cursor: pointer;
}

.invader {
	background-image: url(../images/alien.png);
}

.shooter {
	background-image: url(../images/shooter.png);
}

.laser {
	background-image: url(../images/laser.png);
}

.boom {
	background-image: url(../images/boom.png);
}

#playAgain, #nextLevel{
	display: none;
}