.battlefield {
	width: 450px;
	height: 450px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
}

.battlefield div {
	width: 30px;
	height: 30px;
}

.invader {
	background-image: url(../images/alien.png);
}

.shooter {
	background-image: url(../images/shooter.png);
}

.laser {
	background-image: url(../images/laser.png);
}

.boom {
	background-image: url(../images/boom.png);
}