body {
    margin: 2rem;
    font-family: Emulogic, cursive;
    background-color: aquamarine;
}


a {
    display: block;
    line-height: 2;
}

svg {
    padding-right: 1rem;
}

.col-md-4, .col-md-2{
    background-color: #212529 !important;
}

.card {
    padding: 2rem;
    margin: 1rem;
    border: 2px solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    text-align: center;
 }

 a{
    text-decoration: none !important;  
    color: #212529 !important;
 }

.footer {
    padding-top: 5rem;
    padding-bottom: 1rem;
}
 
@font-face {
    font-family: Emulogic;
    src: url(../font/Emulogic.ttf);
}